@import "tailwindcss";

/* Add this at the top of your index.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUpFadeIn {
  animation: slideUpFadeIn 0.3s ease-out;
}