version: "3.9"

services:
  client:
    build: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
    command: npm run dev

  server:
    build: ./server
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
    environment:
      - MONGO_URI=mongodb://mongo:27017/netlists
    depends_on:
      - mongo
    command: npm run dev

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
